a{
    text-decoration: none;
    outline: none;
    color: black;
}
h1,h2,h3,h4{
    padding: 0px;
    margin: 0px;
}
.black{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.settings_tank{
    display: none; 
    position: absolute;
    width: 50%;
    left:50%;
    top:5%;
    transform: translateX(-50%);
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    border:solid 1px grey;
    border-radius: 18px;
    height: 80%;
    background-color: rgb(228, 228, 228);
}
#cross{
    cursor: pointer;
    position: absolute;
    right: 0.5%;
    top:0.5%;
    width: 30px;
    height: 30px;
}
.wrapper{
    display: flex;
    width: 100%;
    flex-direction: row;
}
.one{
    display: flex;
    width: 33.3%;
    flex-direction: column;
    height: 100vh;
    
}

.type_gas{
    width: 100%;
    height: 30%;
   
}
.type_gas h2{
    display: block;
    height: 40px;
}
.list_gas{
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow-y: auto;
    height: calc(100% - 40px);
}
.item_gas{
    padding: 0px 10px;
    display: flex;
    width: 100%;
    flex-shrink: 0;
    border: solid 1px grey;
    height: 40px;
    align-items: center;
    
}
.measure{
    height: 20%;
}
.casa{
    height: 20%;
}
.adjustment{
    height: 20%;
}
.exit{
    width: 100%;
    height: 10%;
    background-color: rgb(150, 3, 3);
}
.exit a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
   
}
.two{
    padding: 0px 5px;
    display: flex;
    width: 33.3%;
    height: 100vh;
    flex-direction: column;
}
.tanks{
    height: 100%;
}
.tanks h2{
    height: 40px;
}
.list_tank{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex-shrink: 0;
    height: calc(100% - 40px);
}
.item_tank{
    cursor: pointer;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    border: solid 1px grey;
    width: 100%;
    height: 40px;
    flex-shrink: 0;
}
.item_start{
    border-top: solid 2px rgb(0, 60, 255) !important;
    margin-top: 65px;
}
.item_finish{
    border-bottom: solid 2px rgb(0, 60, 255) !important;
    margin-bottom: 25px;
}
.three{
    display: flex;
    width: 33.3%;
    flex-direction: column;
    height: 100vh;
}
.trks{
    height: 100%;
}
.trks h2{
    height: 40px;
    width: 100%;
}
.list_trk{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y:auto;
    flex-shrink: 0;
    height: calc(100% - 40px);
    align-items: center;
}
.item_trk{
    flex-shrink: 0;
    
    width: 100%;

    
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lable_trk{
    cursor: pointer;
    height: 35px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    border: solid 1px grey;
    width: 100%;

}
.guitrk{
     display: none;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-shrink: 0;
    width: 260px;
    height: 260px;
    border:  solid 1px red;
    background-color: black;
    flex-direction: column;
    align-items: center;
    color:white ;
}
.pistol{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}
.p_left{
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
}
.p_rigth{
    flex-shrink: 0;
    display: flex;
    width: 20%;
    height: 100%;
    flex-direction: column;
}
.p_item{
    flex-shrink: 0;
    width: 100%;
    height: 12%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.visible{
    display: flex !important;
}

.viewport{
    width: 100%;
    height: 100%;
}
.moveport{
    transform: translateY(-300px);
}

.lines{
    display: block;
    position: absolute;
    
    width: calc((33.9vw - 260px) / 2);
    height:220px;
    top:105px;
    left: 66.3vw;
}
.one_line{
    position: absolute;
    width: 100%;
    height: 100%;
}
.one_half_line{
    position: absolute;
    width: 30%;
    height: 2px;
    top: 10%;
    background-color: blue;
}
.one_line_to_one_p{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10%;
    left: 30%;
}
.one_to_one_1{
    position: absolute;
    width: 70%;
    height: 2px;
    background-color: blue;

}
.one_line_to_two_p{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10%;
    left: 30%;
}
.one_to_two_1{
    position: absolute;
    width: 2px;
    height: 17%;
    background-color: blue;

}
.one_to_two_2{
    position: absolute;
    top: 17%;
    width: 70%;
    height: 2px;
    background-color: blue;

}
.one_line_to_three_p{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10%;
    left: 30%;
}
.one_to_three_1{
    position: absolute;
    width: 2px;
    height: 35%;
    background-color: blue;

}
.one_to_three_2{
    position: absolute;
    top: 35%;
    width: 70%;
    height: 2px;
    background-color: blue;

}
.one_line_to_four_p{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10%;
    left: 30%;
}
.one_to_four_1{
    position: absolute;
    width: 2px;
    height: 54%;
    background-color: blue;

}
.one_to_four_2{
    position: absolute;
    top: 53%;
    width: 70%;
    height: 2px;
    background-color: blue;

}
.one_line_to_five_p{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10%;
    left: 30%;
}
.one_to_five_1{
    position: absolute;
    width: 2px;
    height: 71%;
    background-color: blue;

}
.one_to_five_2{
    position: absolute;
    top: 71%;
    width: 70%;
    height: 2px;
    background-color: blue;

}
.two_line{
    position: absolute;
    width: 100%;
    height: 100%;
}
.two_half_line{
    position: absolute;
    width: 40%;
    height: 2px;
    top: 27%;
    background-color: red;
}
.two_line_to_one_p{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10%;
    left: 40%;
}
.two_to_one_1{
    position: absolute;
    width: 2px;
    height: 18%;
    background-color: red;
    
}
.two_to_one_2{
    position: absolute;
    width: 60%;
    height: 2px;
    background-color: red;
    
}
.two_line_to_two_p{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 27%;
    left: 40%;
}
.two_to_two_1{
    position: absolute;
    width: 60%;
    height: 2px;
    background-color: red;
}
.two_line_to_three_p{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 27%;
    left: 40%;
}
.two_to_three_1{
    position: absolute;
    width: 2px;
    height: 18%;
    background-color: red;
    
}
.two_to_three_2{
    position: absolute;
    top:18%;
    width: 60%;
    height: 2px;
    background-color: red;
    
}
.two_line_to_four_p{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 27%;
    left: 40%;
   
}
.two_to_four_1{
    position: absolute;
    width: 2px;
    height: 37%;
    background-color: red;
    
}
.two_to_four_2{
    position: absolute;
    top:36%;
    width: 60%;
    height: 2px;
    background-color: red;
    
}
.two_line_to_five_p{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 27%;
    left: 40%;
}
.two_to_five_1{
    position: absolute;
    width: 2px;
    height: 55%;
    background-color: red;
    
}
.two_to_five_2{
    position: absolute;
    top:54%;
    width: 60%;
    height: 2px;
    background-color: red;
    
}
.none{
    display: none !important;
}
.three_half_line{
    position: absolute;
    width: 50%;
    height: 2px;
    top: 45%;
    background-color: purple;
}
.three_line_to_one_p{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10%;
    left: 50%;
}
.three_to_one_1{
    position: absolute;
    width: 2px;
    height: 36%;
    background-color: purple;
    
}
.three_to_one_2{
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: purple;
    
}
.three_line_to_two_p{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 27%;
    left: 50%;
}
.three_to_two_1{
    position: absolute;
    width: 2px;
    height: 19%;
    background-color: purple;
    
}
.three_to_two_2{
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: purple;
    
}
.three_line_to_three_p{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 45%;
    left: 50%;
}
.three_to_three_1{
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: purple;
    
}
.three_line_to_four_p{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 45%;
    left: 50%;
}
.three_to_four_1{
    position: absolute;
    width: 2px;
    height: 18%;
    background-color: purple;
    
}
.three_to_four_2{
    position: absolute;
    top:18%;
    width: 50%;
    height: 2px;
    background-color: purple;
    
}

.three_line_to_five_p{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 45%;
    left: 50%;
}
.three_to_five_1{
    position: absolute;
    width: 2px;
    height: 36%;
    background-color: purple;
    
}
.three_to_five_2{
    position: absolute;
    top:36%;
    width: 50%;
    height: 2px;
    background-color: purple;
    
}
.four_half_line{
    position: absolute;
    width: 60%;
    height: 2px;
    top: 63%;
    background-color: rgb(0, 255, 242);
}
.four_line_to_one_p{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10%;
    left: 60%;
}
.four_to_one_1{
    position: absolute;
    width: 2px;
    height: 54%;
    background-color: rgb(0, 255, 242);
    
}
.four_to_one_2{
    position: absolute;
    width: 40%;
    height: 2px;
    background-color: rgb(0, 255, 242);
    
}
.four_line_to_two_p{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 27%;
    left: 60%;
}
.four_to_two_1{
    position: absolute;
    width: 2px;
    height: 37%;
    background-color: rgb(0, 255, 242);
    
}
.four_to_two_2{
    position: absolute;
    width: 40%;
    height: 2px;
    background-color: rgb(0, 255, 242);
    
}
.four_line_to_three_p{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 45%;
    left: 60%;
}
.four_to_three_1{
    position: absolute;
    width: 2px;
    height: 19%;
    background-color: rgb(0, 255, 242);
    
}
.four_to_three_2{
    position: absolute;
    width: 40%;
    height: 2px;
    background-color: rgb(0, 255, 242);
    
}
.four_line_to_four_p{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 63%;
    left: 60%;
}
.four_to_four_1{
    position: absolute;
    width: 40%;
    height: 2px;
    background-color: rgb(0, 255, 242);
    
}
.four_line_to_five_p{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 63%;
    left: 60%;
}
.four_to_five_1{
    position: absolute;
    width: 2px;
    height: 18%;
    background-color: rgb(0, 255, 242);
    
}
.four_to_five_2{
    position: absolute;
    width: 40%;
    top: 18%;
    height: 2px;
    background-color: rgb(0, 255, 242);
    
}
.five_half_line{
    position: absolute;
    width: 70%;
    height: 2px;
    top: 81%;
    background-color: rgb(97, 18, 84);
}
.five_line_to_one_p{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10%;
    left: 70%;
}
.five_to_one_1{
    position: absolute;
    width: 2px;
    height: 72%;
    background-color: rgb(97, 18, 84);
    
}
.five_to_one_2{
    position: absolute;
    width: 30%;
    
    height: 2px;
    background-color: rgb(97, 18, 84);
    
}
.five_line_to_two_p{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 27%;
    left: 70%;
}
.five_to_two_1{
    position: absolute;
    width: 2px;
    height: 55%;
    background-color: rgb(97, 18, 84);
    
}
.five_to_two_2{
    position: absolute;
    width: 30%;
    
    height: 2px;
    background-color: rgb(97, 18, 84);
    
}
.five_line_to_three_p{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 45%;
    left: 70%;
}
.five_to_three_1{
    position: absolute;
    width: 2px;
    height: 37%;
    background-color: rgb(97, 18, 84);
    
}
.five_to_three_2{
    position: absolute;
    width: 30%;
    
    height: 2px;
    background-color: rgb(97, 18, 84);
    
}
.five_line_to_four_p{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 63%;
    left: 70%;
}
.five_to_four_1{
    position: absolute;
    width: 2px;
    height: 19%;
    background-color: rgb(97, 18, 84);
    
}
.five_to_four_2{
    position: absolute;
    width: 30%;
    
    height: 2px;
    background-color: rgb(97, 18, 84);
    
}
.five_line_to_five_p{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 81%;
    left: 70%;
}
.five_to_five_1{
    position: absolute;
    width: 30%;
    
    height: 2px;
    background-color: rgb(97, 18, 84);
    
}