.heads_error{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heads_error h1{
    color: white;
}
.status_db{
    width: 500px;
    height: 250px;
    border: solid 1px black;
    background-color: white;
    color: black;
    overflow-x: hidden;
    word-wrap: break-word; 
    overflow-y: auto;
}
.last_error{
    
    
    color: black;
    margin-right: 100px;
    margin-top: 20px;
}
.last_error h3{
    margin: 0px;
    padding: 0px;
}
.space_error{
    background-color: white;
    width: 450px;
    height: 230px;
    border: solid 1px black;
    overflow-x:hidden;
    word-wrap: break-word; 
    overflow-y: auto;
}
.content{
    display: flex;
    flex-direction: column;
    color: black;
}
.row_info{
    display: flex;
    flex-direction: row;

justify-content: space-between;
}