

.settings_azs{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 20px;
    
    align-items: center;
}
.settings_azs div{
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.settings_azs input{
    width: 100%;
    margin-left: 20px;
    height: 40px;
    outline: none;
    border-radius:20px;
    padding: 10px;
    
}
.settings_azs button{
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    border: none;
    margin-top: 15px;
    height: 30px;
    width: 100px;
    
}